<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/general/header :: head}">
    </th:block>
    <title>Requests</title>
</head>
<body>
<div class="wrapper">
    <div class="main container clear-top">
        <div th:replace="~{fragments/general/header :: header}">
        </div>
        <div class="container my-3">
            <h2 class=" text-center">Заявки</h2>
            <hr>
            <div class="row">
                <div class="col">
                    <form method="get" th:href="@{/request/list}">
                        <div class="input-group">
                            <input id="searchValue"
                                   name="searchValue"
                                   type="text"
                                   class="form-control"
                                   placeholder="Шукати за параметром...">
                            <button class="btn btn-outline-secondary" type="submit">Шукати</button>
                        </div>
                        <small>
                            <div class="form-check form-check-inline searchbar-push">
                                <input class="form-check-input" type="radio" name="searchParam" id="lastName"
                                       value="lastName">
                                <label class="form-check-label" for="lastName">Прізвище</label>
                            </div>
                            <div class="form-check form-check-inline searchbar-push">
                                <input class="form-check-input" type="radio" name="searchParam" id="email"
                                       value="email">
                                <label class="form-check-label" for="email">Email</label>
                            </div>
                            <div class="form-check form-check-inline searchbar-push">
                                <input class="form-check-input" type="radio" name="searchParam" id="deliveryMethod"
                                       value="deliveryMethod">
                                <label class="form-check-label" for="deliveryMethod">Метод доставки</label>
                            </div>
                            <div class="form-check form-check-inline searchbar-push">
                                <input class="form-check-input" type="radio" name="searchParam" id="requestStatus"
                                       value="requestStatus">
                                <label class="form-check-label" for="requestStatus">Статус заявки</label>
                            </div>
                        </small>
                    </form>
                </div>
                <div class="col-auto">
                    <div class="btn-group" role="group" aria-label="Request Actions">
                        <a class="btn btn-primary" th:href="@{/request/create}">
                            <i class="bi bi-plus"></i></a>
                        <a class="btn btn-secondary" th:href="@{/request/list}">
                            <i class="bi bi-arrow-clockwise"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h2 th:if="${#lists.isEmpty(requests)}">Заявки не знайдено!</h2>
            </div>
            <div th:if="${not #lists.isEmpty(requests)}">
                <div class="table-responsive mb-3">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Ім'я</th>
                            <th>Прізвище</th>
                            <th>Email</th>
                            <th>Номер тел.</th>
                            <th>Товар</th>
                            <th>Кіль-сть</th>
                            <th>Метод доставки</th>
                            <th>Адреса доставки</th>
                            <th>Метод оплати</th>
                            <th>Загальна ціна</th>
                            <th>Статус заявки</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="request : ${requests}">
                            <td th:text="${request.firstName}"></td>
                            <td th:text="${request.lastName}"></td>
                            <td th:text="${request.email}"></td>
                            <td th:text="${request.phoneNumber}"></td>
                            <td th:text="${request.productRequests.get(0).product.productName}"></td>
                            <td th:text="${request.productRequests.get(0).productQty}"></td>
                            <td th:text="${request.deliveryMethod.value}"></td>
                            <td th:text="${request.deliveryAddress}"></td>
                            <td th:text="${request.paymentMethod.value}"></td>
                            <td th:text="${request.productRequests.get(0).product.unitPrice*request.productRequests.get(0).productQty
                    + request.productRequests.get(0).product.priceCurrency.key}"></td>
                            <td th:text="${request.completionStage.requestStatus.value}"></td>
                            <td class="align-middle">
                                <a class="btn btn-primary"
                                   th:href="@{/request/edit/{id}(id=${request.id})}"><i
                                        class="bi bi-pencil"></i></a>
                            </td>
                            <td class="align-middle">
                                <a class="btn btn-danger"
                                   th:href="@{/request/delete/{id}(id=${request.id})}">
                                    <i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/general/footer :: footer}"></div>
</body>
</html>